.header .header-wrap div:last-child .header_button, .section .section_banner .section_banner_button {
  color: #F2F3E7;
  float: left;
  width: 150px;
  min-height: 30px;
  background: #E3AC00;
  border: 0px solid green;
  border-radius: 4px;
  padding: 12px;
  font-weight: bolder;
  font-size: 18px;
  line-height: 20px;
  overflow: hidden; }
  .header .header-wrap div:last-child .header_button:hover, .section .section_banner .section_banner_button:hover {
    cursor: pointer;
    background: #a99040; }

.header .header-wrap .landing-logo, footer .footer-wrap .footer_logo {
  display: flex;
  align-items: center;
  height: 45px;
  width: 20%;
  font-family: "Fresca", sans-serif; }
  .header .header-wrap .landing-logo img, footer .footer-wrap .footer_logo img {
    float: left;
    display: block; }
  .header .header-wrap .landing-logo p, footer .footer-wrap .footer_logo p {
    display: block;
    padding: 0;
    margin: 0;
    width: 80px;
    text-align: center;
    height: 45px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold; }
    .header .header-wrap .landing-logo p span, footer .footer-wrap .footer_logo p span {
      display: block;
      font-size: 10px;
      line-height: 19px;
      width: 100%;
      text-align: center; }

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #21232E; }

.header {
  width: 100%;
  height: 700px;
  background: url(../img/m-h-night.jpg) 100% 100% no-repeat;
  background-size: cover;
  border-bottom-right-radius: 50em 17em;
  background-origin: content-box;
  background-position: top -275px left 0;
  font-family: "Hind", sans-serif; }
  .header .header-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: #FFFFFF; }
  .header .header-wrap div:last-child {
    width: 500px;
    padding-top: 20px; }
    .header .header-wrap div:last-child .login {
      min-height: 30px;
      float: right;
      padding: 12px;
      color: #FFFFFF;
      font-weight: bolder;
      font-size: 18px;
      line-height: 20px; }
  .header .header_heading {
    display: block;
    overflow: hidden;
    height: 144px;
    width: 500px;
    font-weight: bolder;
    font-size: 72px;
    line-height: 72px;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    padding-top: 80px; }
  .header .header_heading:after {
    content: " ";
    display: block;
    margin: 0;
    padding: 0;
    background: #FF4E33;
    position: relative;
    z-index: -1;
    height: 55px;
    width: 310px;
    bottom: 65px;
    left: -5px; }
  .header .header_text {
    display: block;
    padding: 0;
    white-space: pre-wrap;
    text-align: left;
    position: relative;
    left: -45px; }

.section {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  font-family: 'Hind', sans-serif; }
  .section .section_text {
    display: block;
    width: 450px;
    height: 40px;
    margin: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    line-height: 40px;
    color: white; }
  .section .section_text:after {
    content: " ";
    display: block;
    margin: 0;
    padding: 0;
    background: #FF4E33;
    position: relative;
    z-index: -1;
    height: 50px;
    width: 185px;
    bottom: 50px;
    left: 240px; }
  .section .section_card_wrap {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    overflow: hidden; }
    .section .section_card_wrap .section_card {
      display: flex;
      width: 80%;
      height: 330px;
      overflow: hidden;
      margin: auto;
      padding: 20px;
      margin-bottom: 20px;
      background: #3B3F50;
      border: 1px solid #3B3F50;
      border-radius: 10px; }
      .section .section_card_wrap .section_card .section_card_img {
        width: 50%;
        float: left;
        border-radius: 5px; }
      .section .section_card_wrap .section_card .section_card_right_container {
        width: 50%;
        height: 100%;
        float: right;
        text-align: center; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          color: white;
          padding: 30px;
          font-size: 20px;
          font-weight: bold; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          color: #BCC1CA;
          text-align: justify;
          padding-left: 20px;
          font-family: "Fresca", sans-serif; }
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          color: #BCC1CA;
          display: block;
          padding-top: 30px; }
  .section .section_banner {
    width: 80%;
    height: 125px;
    background: linear-gradient(to right, #DCA108, #922B53);
    border-radius: 10px;
    margin: auto;
    position: relative;
    bottom: -63px;
    display: flex; }
    .section .section_banner .section_banner_text_wrap {
      padding: 0;
      margin: auto; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        height: 48px;
        position: relative;
        z-index: 1;
        color: white;
        font-weight: bold;
        font-size: 24px;
        line-height: 48px;
        margin: 0;
        text-align: left; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading:after {
        content: " ";
        display: block;
        margin: 0;
        padding: 0;
        background: #FF4E33;
        position: relative;
        z-index: -1;
        height: 40px;
        width: 50px;
        bottom: 50px;
        left: 100px;
        margin: 0; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        margin: 0;
        text-align: left;
        color: #D1C593; }
    .section .section_banner .section_banner_button {
      margin: auto; }

footer {
  width: 100%;
  height: 250px;
  background: #3B3F50;
  color: #C0C3CE;
  overflow: hidden;
  font-family: "Fresca", sans-serif; }
  footer .footer-wrap {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 120px; }
    footer .footer-wrap .footer_logo {
      margin: auto; }
    footer .footer-wrap .footer_text {
      margin: auto;
      width: 15%;
      font-size: 14px; }
    footer .footer-wrap .footer-cr {
      margin: auto;
      text-align: center;
      width: 20%; }
